* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: inside
}

h2 {
  color: #DD3535;
}

span {
  font-weight: bold;
}
a {
  color: #DD3535;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #DD3535;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

.header {
  background-color: #DD3535;
  width: 100%;
  margin-bottom: 15px;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-link {
  display: flex;
  padding: 0 20px;
  line-height: 50px;
  color: white;
  text-decoration: none
}

.nav-link:hover {
  text-decoration: underline
}

.wrapper {
  color: white;
  background-color: #DD3535;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.introduced {
  align-items: center;
}

.photo {
  border-radius: 50%;
  border: 5px solid white;
  max-width: 30%;
  height: auto;
  box-shadow: 10px, 0, 0, black;
}

.main{
  display: flex;
}

.main-container {
  max-width: 1460px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: stretch;
  padding: 15px;
}

.section {
  width: 50%;
  color: black;
  padding: 15px;
}

@media (max-width: 1460px) {
  .section{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 960px) {
  .section {
    width: 100%;   
  }
  .main-container{
    max-width: 500px;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .section {
    font-size: 16px;
  }
}

.footer {
  color: white;
  background: #DD3535;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
}

.footer-container {
  width: 1460px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding-left: 20px;
  padding-right: 20px;
}

.github-link {
  padding: 0 20px;
  line-height: 50px;
  color: white;
  text-decoration: none
}

.github-link:hover {
  text-decoration: underline
}

.rss {
  display: flex;
  background-size: contain;
  max-width: 35%;
  max-height: 35%;
  width: 100px;
  height: 100px;
  background-image: url(./assets/svg/rss.svg);
  background-repeat: no-repeat;
}